.c-btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: translateY(-3px);
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  &__corp {
    // グラーデーション参考
    color: #fff;
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #6dd5fa, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &__l {
    padding: $space_l $space_xxl;
    width: 100%;
    font-size: $font-size_l;
  }
}
