.c-panel {
  box-sizing: border-box;
  background: #fff;
  position: relative;
  transition: 0.5s;
  &__hover {
    display: inline-block;
    transition: 0.5s;
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: 0.5s;
    }
  }
  &__border {
    border-radius: 5px;
    border: 5px solid #f6f5f4;
  }
  &__head,
  &__foot {
    padding: $space_m;
  }
  &__head {
    text-align: center;
    color: $font-color_default;
  }
  &__active {
    border: 5px solid $color_corp;
  }
  &__badge {
    background: #e37b89;
    color: #fff;
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.3em;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: $font-size_s;
    transform: rotate(15deg);
    @include mq() {
      top: -20px;
      right: -13px;
    }
  }
  &__group {
    margin-right: -$space_l;
    &__float {
      overflow: hidden;
    }
    &__flex {
      display: flex;
      flex-wrap: wrap;
    }
    &:last-child {
      @include mq2() {
        margin-right: 0;
      }
    }
    .c-panel {
      float: left;
      margin-right: $space_l;
      margin-bottom: $space_l;
      box-sizing: border-box;
      @include mq2() {
        margin-left: 7.5px;
        margin-right: 7.5px;
      }
    }
  }
  &__staff {
    width: calc(25% - #{$space_l});
    @include mq() {
      width: calc(50% - #{$space_l});
    }
    img {
      @include mq() {
        min-height: 300px;
        max-height: 300px;
      }
    }
  }
  &__cource {
    width: calc(33.3% - #{$space_l});
    @include mq() {
      width: 100%;
      margin: 0 auto $space_l auto;
    }
  }
}
